.#*
.yas-compiled-snippets.el
*.elc

/.emacs.desktop*
/.python-environments/
/3rdparty/deepin-emacs/
/ac-comphist.dat
/auto-save-list/
/bookmarks
/ede-projects.el
/elpa/
/eshell/
/games/
/jabber-*/
/network-security.data
/request/
/semanticdb/
/session.*
/tramp
/url/
/var/
